@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap') ;

body {
  margin: 0%;
  padding: 0%;
  width: 100%;
}

.login-mobile-one {
  align-items: center;
  background-color: #1d2440;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.box {
  background-color: #f69c0b;
  border-radius: 2px;
  height: 395px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 10px;
  position: center;
  width: 320px;
}

.register {
  color: #d43a00;
  display: flex;
  font-family: 'Abel', sans-serif;
  font-size: 35px;
  justify-content: center;
}

.input-name {
  border-left: white;
  border-radius: 2px;
  border-right: white;
  border-top: white;
  box-sizing: border-box;
  font-family: 'Abel', sans-serif;
  font-size: 1rem;
  line-height: 1.35rem;
  margin: 10px 16px;
  padding: 0.5rem 1rem;
  text-align: center;
  width: 90%;
}

.input-email {
  border-left: white;
  border-radius: 2px;
  border-right: white;
  border-top: white;
  box-sizing: border-box;
  font-family: 'Abel', sans-serif;
  font-size: 1rem;
  line-height: 1.35rem;
  margin: 10px 16px;
  padding: 0.5rem 1rem;
  text-align: center;
  width: 90%;
}

.input-senha {
  border-left: white;
  border-radius: 2px;
  border-right: white;
  border-top: white;
  box-sizing: border-box;
  font-family: 'Abel', sans-serif;
  font-size: 1rem;
  line-height: 1.35rem;
  margin: 10px 16px;
  padding: 0.5rem 1rem;
  text-align: center;
  width: 90%;
}

.register-name, .register-email, .register-senha {
  color: #d43a00;
  margin: 5px;
  padding: 0.1rem 1rem;
}

.input-email:focus, .input-name:focus, .input-senha:focus {
  border-color: #d43a00;
  box-shadow: 0 0 0 0;
  outline: 0;
}

.register-button {
  background-color: #d43a00;
  border: 0 solid #e5e7eb;
  border-radius: 2px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.89);
  cursor: pointer;
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  height: 35px;
  margin: 12px 16px;
  text-align: center;
  width: 90%;
}

.register-button:disabled {
  background-color: #d439007c;
  color: rgba(255, 255, 255, 0.76);
  cursor: auto;
}

.alerta {
  color: #f69a0b;
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  margin: 5px;
}

@media screen and (max-device-width: 400px) {

  .box {
    height: 370px;
    padding-bottom: 20px;
    padding-left: 2px;
    padding-right: 2px;
    position: center;
    width: 300px;
  }
}
